.containerS{
    margin: 56px 10%;

}

.container-images{
    padding-top: 64px;
    padding-bottom: 56px;
    border-top: 2px dotted rgba(53, 167, 33, 0.4);
    border-bottom: 2px dotted rgba(53, 167, 33, 0.4);

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.container-images img{
    text-align: center;
    width: 100px;
    height: 100px;
}