.separadorContainer{
    padding: 0px 20px;
    background-color: #ffffff;
    padding: 36px 0px;
    display: flow-root;
    height: 100vh;
}

.separadorContainerText{
    background-color: #F6F6F7;
    height: 98%;
    padding: 96px 0px;
}

.separador-title{
    font-size: 3rem;
    font-weight: 800;
    color: #202223;
}

hr{
    width: 55%;
    height: 5px;
    background-color: #318122;
    margin-top: 20px;
    margin-bottom: 40px;
}

.textoSeparador{
    display: flow-root;
    margin: 0 10%;
    position: relative;
}

.separadorText{
    align-items: center;
    width: 40%;
}

.imagen-container{
    position: absolute;
    top: -36%;
    right: 0;
}

.textoSeparador p{
    font-size: 18px;
    line-height: 28px;
    text-wrap: pretty;
    margin-bottom: 35px;
    color: #5c5f62;
    
}

.textoSeparador a{
    text-decoration: none;
    font-weight: bold;
    color: #286d1d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}

.ancors{
    display: flex;
    align-items: start;
}

.icon-ancor {
    transition: transform 0.3s ease;
}

.ancors:hover .icon-ancor {
    transform: translateX(5px);
}