*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;

  /*DARK MODE*/
  --body-dark-mode: #0D1313:
  --color-green-bold: #318122;
  
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fafbfb;
}