*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;

  /*DARK MODE*/
  --body-dark-mode: #0D1313:
  --color-green-bold: #318122;
}

body{
  background-color: #fafbfb;
  font-family: 'Inter Variable', sans-serif;
}

p{
  color: #717070;
}